*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: grid;
    place-items: center;
    margin-top: 50px;
}

.container{
    display: grid;
    grid-template: 
        "header" 50px
        "main" 1fr
        "footer" 200px/
        1fr;
        width: 400px;
        height: 600px;
        border: 1px solid black;
        background-color: #333a4b;
        padding: 5px;
        border-radius: 5px;

} 

/* Top Nav */
header{
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-area: header;

}

header a{
    text-decoration: none;
}

header .icon{
    color: white;
    font-size: 2rem;
    font-weight: 200px;
    margin: 20px 10px;
}

nav{
    display: grid;
    justify-content: end;
}

nav a{
    display: inline-block;
    text-decoration: none;
}

/* Main section */

main{
    grid-area: main;
    text-align: center;
    
}

main section h1{
    color: white;
    font-size: 3rem;
    font-weight: 300;
}

main section h3{
    color: 	#808080;
    font-weight: 200;
    margin: 10px;
}

main a {
    background: linear-gradient(#e66465, #9198e5);
    color: white;
    padding: 13px 40px;
    border-radius: 20px;
    text-decoration: none;

    
}

main section p {
    color: rgb(151, 143, 143);
    font-size: 1.1rem;
    margin: 0px 0px 30px 0px;

}

.profile-pic{
    width: 150px;
    border-radius: 50%;
}

li{
    display: inline-block;
    list-style: none;
}

hr{
    display: block;
    margin: 30px 20px;
    font-size: 1px;
}

/* Footer */

footer{
    grid-area: footer;
    text-align: center;
}

.footer-icons{
    font-size: 30px;
    fill: white;
    width: 60px;
    height: 60px;
    padding: 12px;
    background: linear-gradient(#e66465, #9198e5);
    border-radius: 50%;
}

footer li{
    margin: 0px 20px;
}



footer span{
    display: block;
    color: white;
    margin: 10px 0px;
}

.number{
    font-size: 1.2rem;
    font-weight: 600;
}
